In [1]:
mylist = [1,2,3]

In [2]:
mylist.append(4)

In [3]:
mylist

[1, 2, 3, 4]

In [4]:
mylist.pop()

4

In [5]:
mylist

[1, 2, 3]

In [7]:
help(mylist.insert)#Or shift+tab

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [15]:
def name_of_function(name):
    '''
    Docstring
    '''
    print("Hello"+name)

In [16]:
name_of_function(Jose) #Nao da

NameError: name 'Jose' is not defined

In [17]:
def add_function(num1,num2):
    return num1+num2

In [18]:
result = add_function(1,2)

In [19]:
print(result)

3

In [20]:
def say_hello():
    print('hello')

In [21]:
say_hello()

hello

In [22]:
say_hello

In [23]:
def say_hello(name):
    print('Hello '+name)

In [24]:
say_hello('AJ Styles')

Hello AJ Styles

In [25]:
def say_hello(name='Default'):
    print(f'Hello {name}')

In [26]:
say_hello()

Hello Default

In [27]:
def add_num(num1,num2):
    return num1+num2

In [28]:
sum_num = add_num(24,14)

In [29]:
print(sum_num)

38

In [1]:
2 % 2

0

In [2]:
3%2

1

In [3]:
20 % 2 == 0

True

In [4]:
def even_check(number):
    result = number%2==0
    return result

In [5]:
even_check(20)

True

In [6]:
even_check(21)

False

In [7]:
# RETURN TRUE IF NUMBER IS EVEN INSIDE A LIST

In [24]:
def check_even_list(num_list):
    for number in num_list:
        if number==0:
            pass
        elif number%2==0:
            return True
        else:
            pass
            #return False #####WRONG#####
    return False

In [26]:
check_even_list([0,1,2,3,4,5,6,7])

True

In [25]:
check_even_list([0,1,3,5,7])

False

In [29]:
def check_even_list(num_list):
    #return all the even numbers in a list
    even_number = []
    for number in num_list:
        if number==0:
            pass
        elif number%2==0:
            even_number.append(number)
        else:
            pass
    return even_number

In [30]:
check_even_list([0,1,2,3,4,5,6,7])

[2, 4, 6]

In [31]:
stock_prices = [('APPL',200),('GOOG',400),('MSFT',100)]

In [33]:
for item in stock_prices:
    print(item)

('APPL', 200)
('GOOG', 400)
('MSFT', 100)

In [34]:
for ticker,price in stock_prices:
    print(ticker)

APPL
GOOG
MSFT

In [35]:
for ticker,price in stock_prices:
    print(price+(0.1*price))

220.0
440.0
110.0

In [36]:
work_hours = [('Abby',100),('Billy',400),('Cassie',800)]

In [37]:
def employee_check(work_hours):
    current_max=0
    employee_of_month=''
    for employee,hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_month = employee
        else:
            pass
    #Return
    return(employee_of_month,current_max)

In [38]:
employee_check(work_hours)

('Cassie', 800)

In [39]:
result = employee_check(work_hours)

In [40]:
name,hours = employee_check(work_hours)

In [41]:
result

('Cassie', 800)

In [42]:
name

'Cassie'

In [43]:
hours

800

In [44]:
example = [1,2,3,4,5,6,7]

In [45]:
from random import shuffle

In [46]:
result = shuffle(example)

In [47]:
result

In [66]:
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [67]:
result = shuffle_list(example)

In [68]:
mylist=['','O','']

In [69]:
shuffle_list(mylist)

['O', '', '']

In [70]:
def player_guess():
    guess=''
    while guess not in ['0','1','2']:
        guess = input('Pick a number: 0,1 or 2 ->')
    return int(guess)

In [71]:
player_guess()

Pick a number: 0,1 or 2 ->4
Pick a number: 0,1 or 2 ->4
Pick a number: 0,1 or 2 ->1

1

In [72]:
myindex = player_guess()

Pick a number: 0,1 or 2 ->1

In [73]:
myindex

1

In [75]:
def check_guess(mylist,guess):
    if mylist[guess] == 'O':
        print('Correct!')
    else:
        print('Wrong guess!')
        print(mylist)

In [76]:
#INITIAL LIST
mylist=['','O','']
#SHUFFLE LIST
mixedup_list = shuffle_list(mylist)
#USER GUESS
guess = player_guess()
#CHECK GUESS
check_guess(mixedup_list,guess)

Pick a number: 0,1 or 2 ->4
Pick a number: 0,1 or 2 ->1
Wrong guess!
['O', '', '']

In [81]:
def myfunc(a,b,c=0,d=0,e=0):
    #Returns 5% of the sum of a and b
    return sum((a,b,c,d,e))*0.05

In [82]:
myfunc(40,60)

5.0

In [83]:
myfunc(40,60,100,25)

11.25

In [84]:
def myfunc(*args):
    print(args)

In [85]:
myfunc(40,50,100,1,34)

(40, 50, 100, 1, 34)

In [86]:
def myfunc(**kwargs):
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruit here')

In [88]:
myfunc(fruit='apple',veggie='lettuce')

My fruit of choice is apple

In [93]:
def myfunc(*args,**kwargs):
    print(args)
    print(kwargs)
    print('I would like {} {}'.format(args[0],kwargs['food']))

In [94]:
myfunc(10,20,30,fruit='orange',food='eggs',animal='dog')

(10, 20, 30)
{'fruit': 'orange', 'food': 'eggs', 'animal': 'dog'}
I would like 10 eggs

In [ ]:
##FUNCTION PRACTICE EXERCISES GITHUB

In [1]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        #BOTH EVEN
        if a<b:
            result=a
        else:
            result=b
    else:
        #ONE OR BOTH ARE ODD
        if a>b:
            result = a
        else:
            result = b
    return result

In [2]:
#MORE CLEAN VERSION
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        #BOTH EVEN
        return min(a,b)
    else:
        #ONE OR BOTH ARE ODD
        return max(a,b)

In [4]:
def animal_crackers(text):
    wordlist = text.lower().split()
    print(wordlist)
    
    first = wordlist[0]
    second = wordlist[1]
    
    return first[0] == second[1]

In [6]:
('HELLO Guys').lower().split()

['hello', 'guys']

In [7]:
#MORE CLEAN VERSION
def animal_crackers(text):
    wordlist = text.lower().split()
    
    return wordlist[0][0] == wordlist[1][0]

In [8]:
animal_crackers('hello guys')

False

In [9]:
animal_crackers('hello hungray')

True

In [10]:
def makes_twenty(n1,n2):
    return (n1+n2) == 20 or n1==20 or n2==20

In [11]:
########LEVEL 1###########

In [1]:
def old_macdonald(name):
    
    first_letter = name[0]
    inbetween = name[1:3]
    fourth_letter = name[3]
    rest = name[4:]
    
    return first_letter.upper() + inbetween + fourth_letter.upper() + rest

In [2]:
old_macdonald('macdonald')

'MacDonald'

In [4]:
#MORE CLEAN VERSION
def old_macdonald(name):
    
    first_half = name[:3]
    second_half = name[3:]
    
    return first_half.capitalize() + second_half.capitalize()

In [5]:
old_macdonald('macdonald')

'MacDonald'

In [10]:
def master_yoda(text):
    wordlist = text.split()
    reverse_word_list = wordlist[::-1]
    return ' '.join(reverse_word_list)

In [11]:
master_yoda('we are ready')

'ready are we'

In [12]:
def almost_there(n):
    return (abs(100-n) <= 10) or (abs(200-n) <= 10)

In [16]:
almost_there(1000000000.1)#????

False

In [26]:
def has_33(nums):
    for i in range(0,len(nums)-1):
        if nums[i] == 3 and nums[i+1] == 3:
            return True
    return False

In [25]:
has_33([3,3,1,1])

True

In [27]:
def paper_doll(text):
    result=''
    for char in text:
        result += char*3
    return result

In [29]:
paper_doll('Mississipi')

'MMMiiissssssiiissssssiiipppiii'

In [33]:
def blackjack(a,b,c):
    if sum([a,b,c]) <= 21:
        return sum([a,b,c])
    elif 11 in [a,b,c] and sum([a,b,c]) <= 31:
        return sum([a,b,c])-10
    else:
        return 'Bust'

In [39]:
blackjack(11,6,4)

21

In [40]:
def summer_69(arr):
    total=0
    add=True
    for num in arr:
        while add:
            if num!=6:
                total += num
                break
            else:
                add = False
        while not add:
            if num!=9:
                break
            else:
                add=True
                break
    return total

In [3]:
summer_69

NameError: name 'summer_69' is not defined

In [4]:
def spy_game(nums):
    code = [0,0,7]
    for num in nums:
        if num == code[0]:
            code.pop(0)
    return len(code) == 0

In [5]:
spy_game([1,7,2,0,4,5,0])

False

In [6]:
spy_game([0,4,2,0,4,5,7])

True

In [7]:
def count_primes(num):
    
    if num <2:
        return 0
    ##########
    # 2 or greater
    ##########
    #Store prime numbers
    primes=[2]
    #Counter going up to the input num
    x=3
    
    #X is going through every number up to input num
    while x <= num:
        #Check if x is prime
        for y in range(3,x,2):
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [8]:
count_primes(5)

[2, 3, 5]

3

In [9]:
def square(num):
    return num**2

In [10]:
my_nums = [1,2,3,4,5]

In [11]:
map(square,my_nums)

In [12]:
for item in map(square,my_nums):
    print(item)

1
4
9
16
25

In [13]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [14]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'EVEN'
    else:
        return mystring[0]

In [15]:
names = ['Andy','Eve','Sally']

In [16]:
list(map(splicer,names))

['EVEN', 'E', 'S']

In [17]:
def check_even(num):
    return num%2==0

In [18]:
mynums=[1,2,3,4,5,6]

In [19]:
filter(check_even,mynums)

In [21]:
list(filter(check_even,mynums))

[2, 4, 6]

In [26]:
def square(num): return num ** 2 ##NAO FAZER ISTO
    #result = num ** 2
    #return result

In [27]:
square(3)

9

In [29]:
square = lambda num:num ** 2

In [30]:
square(3)

9

In [31]:
list(map(lambda num:num**2,mynums))

[1, 4, 9, 16, 25, 36]

In [33]:
list(filter(lambda num:num%2==0,mynums))

[2, 4, 6]

In [34]:
names

['Andy', 'Eve', 'Sally']

In [36]:
list(map(lambda name:name[0], names))

['A', 'E', 'S']

In [37]:
list(map(lambda x:x[::-1], names))

['ydnA', 'evE', 'yllaS']

In [1]:
x = 25

def printer():
    x = 50
    return x

In [2]:
print(x)

25

In [3]:
print(printer())

50

In [11]:
#GLOBAL
name = 'THIS IS A GLOBAL STRING'

def greet():
    
    #ENCLOSING
    name = 'Sammy'
    
    def hello():
        #LOCAL
        name = "I'M A LOCAL"
        print('Hello '+name)
    hello()
greet()

Hello I'M A LOCAL

In [19]:
x=50

def func(x):
    print(f'X is {x}')
    
    #Local reassignment!
    x=200
    print(f'I just locally changed X to {x}')

In [17]:
func(x)

X is 50
I just locally changer X to 200

In [18]:
print(x)

50

In [23]:
x=50

def func():
    global x
    print(f'X is {x}')
    
    #Local reassignment on a global variable!
    x='New value'
    print(f'I just locally changed global X to {x}')

In [24]:
print(x)

50

In [25]:
func()

X is 50
I just locally changed global X to New value

In [26]:
print(x)

New value

In [1]:
##Exercises

In [2]:
def vol(rad):
    return (4/3)*(3.14)*(rad**3)

In [3]:
vol(32)

137188.69333333333

In [5]:
for item in range(0,5):
    print(item)
5 in range(0,5)

0
1
2
3
4

False

In [8]:
def ran_check(num,low,high):
    if num in range(low,high+1):
        print(f"{num} is in range of low and high")
    else:
        print('not in range')

In [9]:
ran_check(5,2,7)

5 is in range of low and high

In [10]:
ran_check(1,2,7)

not in range

In [18]:
def up_low(s):
    lowercase = 0
    uppercase = 0
    
    for char in s:
        if char.isupper():
            uppercase += 1
        elif char.islower():
            lowercase += 1
        else:
            pass
    print(f'Original String: {s}')
    print(f'Upperccase counter: {uppercase}')
    print(f'Lowercase counter: {lowercase}')

In [19]:
up_low('YoUr MoM iS ...')

Original String: YoUr MoM iS ...
Upperccase counter: 5
Lowercase counter: 4

In [22]:
def unique_list(lst):
    return list(set(lst))

In [23]:
unique_list([1,2,3,3,3,3,5,5,4,4])

[1, 2, 3, 4, 5]

In [24]:
def unique_list(lst):
    seen_numbers = []
    for number in lst:
        if number not in seen_numbers:
            seen_numbers.append(number)
    return seen_numbers

In [25]:
unique_list([1,2,3,3,3,3,5,5,4,4])

[1, 2, 3, 5, 4]

In [26]:
def multiply(numbers):
    total = 1
    for num in numbers:
        total = total*num
    return total

In [27]:
multiply([1,2,3,-4,10])

-240

In [30]:
def palindrome(s):
    #REMOVE SPACES STRING
    s = s.replace(' ','')
    #Check if string is == reversed version of the string
    return s == s[::-1]

In [31]:
palindrome('nu rs es ru n')

True

In [35]:
import string

def ispangram(str1, alphabet=string.ascii_lowercase):
    
    #Create set of the alphabet
    alphaset= set(alphabet)
    #Remove any spaces from the input string
    str1 = str1.replace(' ','')
    #Convert intro all lowercase
    str1 = str1.lower()
    #Grab all unique letters from the set()
    str1 = set(str1)
    #Alphabet set == string set input
    return str1 == alphaset

In [36]:
ispangram("The quick brown fox jumps over the lazy dog")

True